################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Senthil.WAE.Assignment/obj/Debug
/Senthil.WAE.Assignment.Tests/obj/Debug

